{% extends 'base.html' %}

{% block body %}
    <h1>User Directory</h1>
    <a href='/users/new'>New User</a>

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Username</th>
          <th scope="col">Posts</th>
          <th scope="col">Joined</th>
        </tr>
      </thead>
      <tbody>
          {% for user in users %}
            <tr class="table-light">
              <th scope="row"><a href='/users/{{ user._id }}' style="color:black;">{{ user.username }}</a></th>
              {% if user.posts %}
                <td>
                    {{ user.posts }}
                </td>
              {% else %}
                  <td>
                      0
                  </td>
              {% endif %}
              {% if user.created_at %}
                <td>
                    {{ user.created_at.strftime('%I:%M %p') }}
                    {{ user.created_at.strftime('%d/%m/%y') }}
                </td>
              {% endif %}
            </tr>
          {% endfor %}
      </tbody>
    </table>
{% endblock body %}
